{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "google"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  }
}
