.grid {
  --color: #333;

  background-image: radial-gradient(circle, var(--color) 1px, transparent 1px);

  /*
  background-image: linear-gradient(
      to right,
      var(--dark) 1%,
      transparent 1%,
      transparent 99%,
      var(--dark)
    ),
    linear-gradient(
      to bottom,
      var(--dark) 1%,
      transparent 1%,
      transparent 99%,
      var(--dark)
    );
  */

  background-size: 10px 10px;
}
